{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>
       <div class="card">
                <div class="card-body">
                
                <h5 class="card-title" style="margin-left:300px;">Afficher Reservation</h5>
                <div class=" align-items-center justify-content-start" style="margin-left:300px"> 

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Date_r</th>
                <th>Heure_r</th>
                <th>Reserved_places</th>
                <th>Renseignements</th>
                <th>User_email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.id }}</td>
                <td>{{ reservation.type }}</td>
                <td>{{ reservation.dateR ? reservation.dateR|date('Y-m-d') : '' }}</td>
                <td>{{ reservation.heureR }}</td>
                <td>{{ reservation.reservedPlaces }}</td>
                <td>{{ reservation.Renseignements }}</td>
                <td>{{ reservation.userEmail }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'id': reservation.id}) }}"class="btn btn-primary">show</a>
                    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}"class="btn btn-primary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_stats') }}" class="btn btn-primary">Statistique</a>
     <a href="{{ path('app_pdf') }}" class="btn btn-primary">Pdf</a>
{% endblock %}
